/*--------------------------------------------------------------------------------------
    Global Variables
--------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------
    Functions
--------------------------------------------------------------------------------------*/
/*    Global Fonts
--------------------------------------------------------------------------------------*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
/*--------------------------------------------------------------------------------------
    Global Style
--------------------------------------------------------------------------------------*/
body {
  width: 100%;
  margin: 0;
  font-family: "Roboto";
}

/*  Header Section
--------------------------------------------------------------------------------------*/
.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0.8;
  background-color: #252525;
}

nav {
  flex: 0.8 0 0;
  order: 2;
  align-self: center;
}
nav button {
  display: none;
}

.nav {
  display: initial;
}
.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.nav li {
  flex: 1 0 0;
  list-style: none;
}
.nav a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.5vw;
  position: relative;
}
.nav a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.2vw;
  bottom: 0;
  background-color: #fff;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
.nav a:hover:before {
  width: 100%;
}

header {
  flex: 0 0 100;
  order: 0;
  align-self: center;
}
header h1 {
  margin: 0;
  padding-left: 1.3em;
  font-size: 1.4vw;
  color: #fff;
}

#user-aria {
  order: 3;
  align-self: center;
  padding-right: 2.5em;
}
#user-aria button {
  display: inline-block;
  width: 100px;
  height: 20px;
  padding: 0;
  border: none;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#user-aria button:before {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: hsla(0deg, 0%, 0%, 0.8);
  transform-origin: center;
  transform: translate3d(0px, -30px, 0px);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
#user-aria button:hover:before {
  transform: translate3d(0px, 0px, 0px);
}
#user-aria button:hover a {
  color: #fff;
}
#user-aria a {
  display: flex;
  justify-content: center;
  padding: 3px;
  text-decoration: none;
  color: #000;
}

#hide-part {
  display: inline-block;
  margin-right: 5px;
}

/*  Media Query Section
--------------------------------------------------------------------------------------*/
@media (min-width: 115em) {
  #user-aria button {
    width: 200px;
    height: 50px;
    font-size: 1.5em;
  }
  #user-aria button:before {
    height: 50px;
    transform: translate3d(0px, -50px, 0px);
  }
}
@media (min-width: 130em) {
  #user-aria button {
    width: 200px;
    height: 100px;
    font-size: 3em;
  }
  #user-aria button:before {
    height: 100px;
    transform: translate3d(0px, -100px, 0px);
  }
}
@media (max-width: 30em) {
  #user-aria {
    padding-right: 0.5em;
  }
  #user-aria button {
    height: auto;
    font-size: 0.7em;
  }
  #user-aria button:before {
    height: 30px;
    transform: translate3d(0px, -30px, 0px);
  }
  nav {
    order: 1;
    padding-left: 0.5em;
    flex: 0 0 30px;
  }
  nav button {
    display: block;
    width: 25px;
    border: none;
    border-radius: 10%;
  }
  nav img {
    display: block;
    width: 100%;
    margin: 0;
  }
  .nav {
    display: none;
    position: relative;
  }
  .nav ul {
    width: 150px;
    flex-direction: column;
    position: absolute;
    background-color: hsla(0deg, 0%, 6%, 0.8);
  }
  .nav a {
    justify-content: left;
    font-size: 1em;
  }
  header {
    order: 2;
  }
  header h1 {
    font-size: 1em;
  }
  #hide-part {
    display: none;
  }
}
/* Picture Slide Section
--------------------------------------------------------------------------------------*/
#slid-wrap {
  display: grid;
  grid-template-columns: repeat(1, 100vw);
  grid-template-rows: repeat(1, 350px);
  overflow: hidden;
}
#slid-wrap div {
  grid-column: 1/1;
  grid-row: 1/1;
  display: flex;
  overflow-x: hidden;
}
#slid-wrap figure {
  margin: 0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 350px;
  transition-property: margin-left;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.5, -0.22, 0.49, 1.38);
}
#slid-wrap img {
  display: block;
  width: 100%;
  height: 350px;
  margin: 0;
  grid-column: 1/1;
  grid-row: 1/1;
}
#slid-wrap figcaption {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  opacity: 0.5;
  color: #fff;
  font-size: 1.5em;
  background-color: #000;
  grid-column: 1/1;
  grid-row: 1/1;
  align-self: flex-end;
  margin-bottom: 3em;
}
#slid-wrap #btn-holders {
  grid-column: 1/1;
  grid-row: 1/1;
  align-self: flex-end;
  width: 200px;
  height: 22px;
  margin: 0 auto;
  padding-top: 5px;
  background-color: hsla(0deg, 1%, 15%, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#slid-wrap label {
  width: 13px;
  height: 13px;
  margin-left: 10px;
  border: 2px solid #000;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}
#slid-wrap label:hover {
  cursor: pointer;
}

/* Teacher Section
--------------------------------------------------------------------------------------*/
#teacher_wrap figure {
  height: 345px;
  overflow: hidden;
  margin: 0;
  padding: 1em;
  background-color: white;
  border-radius: 2% 2% 5% 5%;
  transition: all 0.5s ease-in-out;
}
#teacher_wrap figure:hover {
  cursor: pointer;
}
#teacher_wrap .teacher {
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease;
  border-radius: 2% 2% 5% 5%;
}
#teacher_wrap .teacher h4 {
  text-align: center;
}
#teacher_wrap .teacher:hover {
  margin: -5px 0px 0px -5px;
  cursor: pointer;
  box-shadow: 10px 10px 10px #000;
  background-color: white;
}
#teacher_wrap img {
  display: block;
  width: 100%;
  margin: 0;
}
#teacher_wrap figcaption {
  margin: 0;
  padding-top: 1em;
  padding-left: 10px;
}

.BTN-contianer button {
  display: block;
  width: 150px;
  margin: 0.5em auto;
  padding: 5px;
  border: none;
  font-size: 1em;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: #909090;
}
.BTN-contianer button::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #252525;
  transform: translate3d(0px, -30px, 0px);
  transform-origin: top center;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}
.BTN-contianer button:hover {
  color: #fff;
  cursor: pointer;
}
.BTN-contianer button:hover:before {
  transform: translate3d(0px, 0px, 0px);
}

/*  Media Query Section
--------------------------------------------------------------------------------------*/
@media (min-width: 20em) {
  #teacher_wrap #teacher-card {
    display: grid;
    grid-template-columns: minmax(18em, 19em);
    grid-template-rows: repeat(15, auto);
    grid-gap: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
  }
  #teacher_wrap #teacher-card div:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #teacher_wrap #teacher-card div:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #teacher_wrap #teacher-card div:nth-of-type(5) {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(6) {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  #teacher_wrap #teacher-card div:nth-of-type(7) {
    grid-column: 1/2;
    grid-row: 7/8;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(8) {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  #teacher_wrap #teacher-card div:nth-of-type(9) {
    grid-column: 1/2;
    grid-row: 9/10;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(10) {
    grid-column: 1/2;
    grid-row: 10/11;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(11) {
    grid-column: 1/2;
    grid-row: 11/12;
  }
  #teacher_wrap #teacher-card div:nth-of-type(12) {
    grid-column: 1/2;
    grid-row: 12/13;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(13) {
    grid-column: 1/2;
    grid-row: 13/14;
  }
  #teacher_wrap #teacher-card div:nth-of-type(14) {
    grid-column: 1/2;
    grid-row: 14/15;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(15) {
    grid-column: 1/2;
    grid-row: 15/16;
  }
  #teacher_wrap #teacher-card .BTN {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 40em) {
  #teacher_wrap #teacher-card {
    grid-template-columns: repeat(2, minmax(17em, 18em));
    grid-template-rows: repeat(8, auto);
  }
  #teacher_wrap #teacher-card div:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #teacher_wrap #teacher-card div:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #teacher_wrap #teacher-card div:nth-of-type(3) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #teacher_wrap #teacher-card div:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #teacher_wrap #teacher-card div:nth-of-type(5) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #teacher_wrap #teacher-card div:nth-of-type(6) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #teacher_wrap #teacher-card div:nth-of-type(7) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  #teacher_wrap #teacher-card div:nth-of-type(8) {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #teacher_wrap #teacher-card div:nth-of-type(9) {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  #teacher_wrap #teacher-card div:nth-of-type(10) {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  #teacher_wrap #teacher-card div:nth-of-type(11) {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  #teacher_wrap #teacher-card div:nth-of-type(12) {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  #teacher_wrap #teacher-card div:nth-of-type(13) {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  #teacher_wrap #teacher-card div:nth-of-type(14) {
    grid-column: 2/3;
    grid-row: 7/8;
  }
  #teacher_wrap #teacher-card div:nth-of-type(15) {
    grid-column: 2/3;
    grid-row: 8/9;
  }
}
@media (min-width: 70em) {
  #teacher_wrap #teacher-card {
    display: grid;
    grid-template-columns: repeat(4, minmax(15em, 20em));
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    grid-gap: 1.5em;
  }
  #teacher_wrap #teacher-card div:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #teacher_wrap #teacher-card div:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #teacher_wrap #teacher-card div:nth-of-type(3) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #teacher_wrap #teacher-card div:nth-of-type(4) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #teacher_wrap #teacher-card div:nth-of-type(5) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  #teacher_wrap #teacher-card div:nth-of-type(6) {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  #teacher_wrap #teacher-card div:nth-of-type(7) {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  #teacher_wrap #teacher-card div:nth-of-type(8) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #teacher_wrap #teacher-card div:nth-of-type(9) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #teacher_wrap #teacher-card div:nth-of-type(10) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #teacher_wrap #teacher-card div:nth-of-type(11) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  #teacher_wrap #teacher-card div:nth-of-type(12) {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  #teacher_wrap #teacher-card div:nth-of-type(13) {
    grid-column: 3/4;
    grid-row: 4/5;
  }
  #teacher_wrap #teacher-card div:nth-of-type(14) {
    grid-column: 4/5;
    grid-row: 3/4;
  }
  #teacher_wrap #teacher-card div:nth-of-type(15) {
    grid-column: 4/5;
    grid-row: 4/5;
  }
}
/* Edit Teacher Card Section
--------------------------------------------------------------------------------------*/
#teacher_wrap .teacher {
  background-color: white;
}
#teacher_wrap .teacher:hover {
  background-color: hsla(0deg, 0%, 0%, 0.9);
}
#teacher_wrap .teacher:hover button {
  background-color: #909090;
}
#teacher_wrap figure {
  background-color: initial;
}
#teacher_wrap figure:hover {
  outline: none;
}

.teacher:hover .edit-option {
  display: flex;
}

.teacher-caption {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.teacher-caption figcaption {
  grid-column: 1/1;
  grid-row: 1/1;
}
.teacher-caption .edit-option {
  grid-column: 1/1;
  grid-row: 1/1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5em;
  display: none;
}
.teacher-caption .edit-option button {
  width: 130px;
  height: 20px;
  border: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 1em;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: hsla(0deg, 0%, 100%, 0.5);
}
.teacher-caption .edit-option button a {
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.teacher-caption .edit-option button::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: hsla(0deg, 0%, 0%, 0.3);
  transform: translate3d(0px, -30px, 0px);
  transform-origin: top center;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}
.teacher-caption .edit-option button:hover,
.teacher-caption .edit-option button:focus {
  color: #fff;
}
.teacher-caption .edit-option button:hover:before,
.teacher-caption .edit-option button:focus:before {
  transform: translate3d(0px, 0px, 0px);
}
.teacher-caption .edit-option button:nth-of-type(1) {
  margin-right: 10px;
}

#edit-section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  opacity: 0;
  background: #fff;
  visibility: hidden;
  transition: 0.6s;
}

#edit-section:target {
  height: 300vh;
  z-index: 5;
  opacity: 1;
  visibility: visible;
}
#edit-section:target form {
  position: relative;
}
#edit-section:target fieldset {
  display: grid;
  grid-template-columns: 30em;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  grid-row-gap: 2em;
  background-color: lightgray;
}
#edit-section:target fieldset hgroup {
  grid-column: 1/2;
  grid-row: 1/2;
}
#edit-section:target fieldset hgroup h3 {
  text-align: center;
}
#edit-section:target fieldset span:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 2/3;
  perspective: 300rem;
  position: relative;
}
#edit-section:target fieldset span:nth-of-type(1) input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}
#edit-section:target fieldset span:nth-of-type(1) label {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1em;
  transform-origin: bottom;
  transform: none;
  transition-property: transform, font-size;
  transition-duration: 0.5s, 0.3s;
  transition-delay: 0s, 0s;
  transition-timing-function: ease-in-out;
}
#edit-section:target fieldset span:nth-of-type(1) input:focus + label,
#edit-section:target fieldset span:nth-of-type(1) input:valid + label {
  transform: translate3d(0px, -20px, 0px);
  font-size: 0.8em;
  font-weight: none;
}
#edit-section:target fieldset span:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 3/4;
}
#edit-section:target fieldset span:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 4/5;
}
#edit-section:target fieldset span:nth-of-type(3) textarea {
  width: 25em;
  height: 15em;
  margin-left: 5em;
}
#edit-section:target fieldset span:nth-of-type(4) {
  grid-column: 1/2;
  grid-row: 5/6;
  margin: 0 auto;
}
#edit-section:target fieldset span:nth-of-type(4) button {
  width: 150px;
  padding: 5px;
  border: none;
  font-size: 1em;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: hsla(0deg, 0%, 0%, 0.5);
}
#edit-section:target fieldset span:nth-of-type(4) button::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: hsla(0deg, 0%, 0%, 0.3);
  transform: translate3d(0px, -30px, 0px);
  transform-origin: top center;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}
#edit-section:target fieldset span:nth-of-type(4) button:hover,
#edit-section:target fieldset span:nth-of-type(4) button:focus {
  color: #fff;
  cursor: pointer;
}
#edit-section:target fieldset span:nth-of-type(4) button:hover:before,
#edit-section:target fieldset span:nth-of-type(4) button:focus:before {
  transform: translate3d(0px, 0px, 0px);
}

.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}

/* Add Teacher Card Section
--------------------------------------------------------------------------------------*/
.new-teacher img {
  display: block;
  width: 100%;
  height: 213.328px;
  margin: 0;
}
.new-teacher div {
  height: 34.3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3.5em;
}
.new-teacher div button {
  width: 130px;
  border: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 1em;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: hsla(0deg, 0%, 0%, 0.9);
}
.new-teacher div button a {
  display: flex;
  justify-content: center;
  padding: 1px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.new-teacher div button::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: hsla(0deg, 0%, 0%, 0.3);
  transform: translate3d(0px, -30px, 0px);
  transform-origin: top center;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}
.new-teacher div button:hover,
.new-teacher div button:focus {
  color: #fff;
}
.new-teacher div button:hover:before,
.new-teacher div button:focus:before {
  transform: translate3d(0px, 0px, 0px);
}

#add-teacher-section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}

#add-teacher-section:target {
  height: 300vh;
  z-index: 5;
  opacity: 1;
  visibility: visible;
}
#add-teacher-section:target form {
  position: relative;
}
#add-teacher-section:target fieldset {
  display: grid;
  grid-template-columns: 30em;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  grid-row-gap: 2em;
  background-color: lightgray;
}
#add-teacher-section:target fieldset hgroup {
  grid-column: 1/2;
  grid-row: 1/2;
}
#add-teacher-section:target fieldset hgroup h3 {
  text-align: center;
}
#add-teacher-section:target fieldset span:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 2/3;
  perspective: 300rem;
  position: relative;
}
#add-teacher-section:target fieldset span:nth-of-type(1) input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}
#add-teacher-section:target fieldset span:nth-of-type(1) label {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1em;
  transform-origin: bottom;
  transform: none;
  transition-property: transform, font-size;
  transition-duration: 0.5s, 0.3s;
  transition-delay: 0s, 0s;
  transition-timing-function: ease-in-out;
}
#add-teacher-section:target fieldset span:nth-of-type(1) input:focus + label,
#add-teacher-section:target fieldset span:nth-of-type(1) input:valid + label {
  transform: translate3d(0px, -20px, 0px);
  font-size: 0.8em;
  font-weight: none;
}
#add-teacher-section:target fieldset span:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 3/4;
}
#add-teacher-section:target fieldset span:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 4/5;
}
#add-teacher-section:target fieldset span:nth-of-type(3) textarea {
  width: 25em;
  height: 15em;
  margin-left: 5em;
}
#add-teacher-section:target fieldset span:nth-of-type(4) {
  grid-column: 1/2;
  grid-row: 5/6;
  margin: 0 auto;
}
#add-teacher-section:target fieldset span:nth-of-type(4) button {
  width: 150px;
  padding: 5px;
  border: none;
  font-size: 1em;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: hsla(0deg, 0%, 0%, 0.5);
}
#add-teacher-section:target fieldset span:nth-of-type(4) button::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: hsla(0deg, 0%, 0%, 0.3);
  transform: translate3d(0px, -30px, 0px);
  transform-origin: top center;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}
#add-teacher-section:target fieldset span:nth-of-type(4) button:hover,
#add-teacher-section:target fieldset span:nth-of-type(4) button:focus {
  color: #fff;
  cursor: pointer;
}
#add-teacher-section:target fieldset span:nth-of-type(4) button:hover:before,
#add-teacher-section:target fieldset span:nth-of-type(4) button:focus:before {
  transform: translate3d(0px, 0px, 0px);
}

.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}

/* Feedback Card Section
--------------------------------------------------------------------------------------*/
.feedback-card {
  height: 50em;
}
.feedback-card .student-feedback {
  margin-top: 10em;
}
.feedback-card .figcaption-card {
  height: 200px;
  overflow: hidden;
  font-size: 1em;
  transition-property: height;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  background-color: white;
  border-radius: 5%;
}
.feedback-card .figcaption-card h3 {
  margin: 0;
  padding-top: 2em;
  text-align: center;
}
.feedback-card .figcaption-card .hgroup-card {
  margin-top: 1em;
}
.feedback-card .figcaption-card .hgroup-card p {
  margin: 0;
}
.feedback-card .figcaption-card p {
  padding-left: 1em;
  padding-right: 0.5em;
}
.feedback-card button {
  display: block;
  width: 150px;
  margin: 0.5em auto;
  padding: 5px;
  border: none;
  font-size: 1em;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: #909090;
}
.feedback-card button::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #252525;
  transform: translate3d(0px, -30px, 0px);
  transform-origin: top center;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}
.feedback-card button:hover {
  color: #fff;
  cursor: pointer;
}
.feedback-card button:hover:before {
  transform: translate3d(0px, 0px, 0px);
}

.comment {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
}
.comment div:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.comment div:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-wrap: wrap;
  display: none;
}
.comment div:nth-of-type(2) button {
  width: 130px;
  height: 25px;
  border: none;
  margin: 5em auto;
  padding-left: 0;
  padding-right: 0;
  font-size: 1em;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: hsla(0deg, 0%, 100%, 0.5);
}
.comment div:nth-of-type(2) button a {
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.comment div:nth-of-type(2) button::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: hsla(0deg, 0%, 0%, 0.3);
  transform: translate3d(0px, -30px, 0px);
  transform-origin: top center;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}
.comment div:nth-of-type(2) button:hover,
.comment div:nth-of-type(2) button:focus {
  color: #fff;
}
.comment div:nth-of-type(2) button:hover:before,
.comment div:nth-of-type(2) button:focus:before {
  transform: translate3d(0px, 0px, 0px);
}
.comment div:nth-of-type(2) button:nth-of-type(1) {
  margin-right: 10px;
}
.comment:hover {
  background-color: hsla(0deg, 0%, 0%, 0.8);
}
.comment:hover div:nth-of-type(2) {
  display: flex;
}

/* Media Query
--------------------------------------------------------------------------------------*/
@media (min-width: 18em) {
  .feedback-card {
    display: grid;
    grid-template-columns: 17em;
    grid-template-rows: repeat(4, auto);
    grid-gap: 2em;
    justify-content: center;
  }
  .feedback-card div[class^=student]:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .feedback-card div[class^=student]:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .feedback-card div[class^=student]:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .feedback-card div[class^=student]:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media (min-width: 20em) {
  .feedback-card {
    display: grid;
    grid-template-columns: minmax(17em, 18em);
    grid-template-rows: repeat(4, auto);
    grid-gap: 2em;
    justify-content: center;
  }
  .feedback-card div[class^=student]:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .feedback-card div[class^=student]:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .feedback-card div[class^=student]:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .feedback-card div[class^=student]:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media (min-width: 40em) {
  .feedback-card {
    display: grid;
    grid-template-columns: repeat(2, minmax(17em, 18em));
    grid-template-rows: repeat(4, auto);
    grid-gap: 2em;
    justify-content: center;
  }
  .feedback-card div[class^=student]:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .feedback-card div[class^=student]:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .feedback-card div[class^=student]:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .feedback-card div[class^=student]:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (min-width: 70em) {
  .feedback-card {
    display: grid;
    grid-template-columns: repeat(4, minmax(18em, 20em));
    grid-template-rows: repeat(4, auto);
    grid-gap: 2em;
    justify-content: center;
  }
  .feedback-card div[class^=student]:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .feedback-card div[class^=student]:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .feedback-card div[class^=student]:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .feedback-card div[class^=student]:nth-of-type(4) {
    grid-column: 4/5;
    grid-row: 1/2;
  }
}
main {
  background-color: #BBB;
}

/* Footer Section
--------------------------------------------------------------------------------------*/
footer {
  background-color: #909090;
}
footer #footer-wrap {
  display: grid;
  grid-template-columns: repeat(4, 5em);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  grid-row-gap: 1em;
  padding-top: 1em;
}
footer figure {
  width: 50px;
  margin: 0 auto;
}
footer img {
  display: block;
  width: 100%;
  margin: 0;
}
footer figure:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
footer figure:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
footer figure:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 1/2;
}
footer figure:nth-of-type(4) {
  grid-column: 4/5;
  grid-row: 1/2;
}
footer div {
  grid-column: 1/5;
  grid-row: 2/3;
}
footer div p {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}
footer a {
  display: flex;
}
/*# sourceMappingURL=stylesheet_admin_home.css.map */